body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    margin: 0;
    padding: 0;
}


.header {
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    display: flex; /* Utilisation de flexbox pour l'alignement */
    justify-content: space-between; /* Pour espacer les éléments horizontalement */
    align-items: center; /* Pour centrer verticalement les éléments */
    
}

#retour-accueil {
    text-decoration: none; /* Supprimer le soulignement du lien */
    color: #fff; /* Couleur du texte */
    display: flex; /* Utilisation de flexbox pour aligner l'icône et le texte */
    align-items: center; /* Pour centrer verticalement */
}

#retour-accueil i {
    margin-right: 5px; /* Espacement entre l'icône et le texte */
}

h1 {
    flex-grow: 1; /* Permet au titre de prendre autant d'espace que possible */
    text-align: center; /* Centre le texte horizontalement */
    margin-bottom: 1em;
}

.choix-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.choix-admin > div {
    background-color: #fff;
    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 600px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

a {
    display: block;
    text-decoration: none;
    color: #007bff;
    margin-bottom: 10px;
}

a:hover {
    color: #0056b3;
}

@media screen and (max-width: 768px) {
    .choix-admin > div {
        width: 90%;
    }
}
